.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.fields {
  margin: 1rem 0;
}

.label {
  font-size: 1.5rem;
}

.input {
  background-color: black;
  border-style: none none solid none;
  font-size: 1.5rem;
}

.errorMsg {
  font-size: 1.0rem;
  color: red;
  margin: 0 0 1rem 0;
  text-align: center;
}

.submitBtn {
  max-width: 100rem;
  font-size: 1.3rem;
}

@media screen and (min-width: 1025px) {

  .form {
    align-items: center;
    width: 35rem;
  }

  .label {
    margin: 0 1rem 0 0;
    text-align: right;
  }

  .input {
    width: 15rem;
    margin: 0 0 1rem 0;
  }

  .submitBtn {
    width: 7.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 5rem;
  }

  .form {
    width: 85%;
    display: flex;
    align-items: center;
  }

  .fields {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .label, .input, .submitBtn {
    font-size: 2rem;
  }

  .errorMsg {
    font-size: 1.2rem;
  }

  .submitBtn {
    width: 80%;
  }

}

@media screen and (max-width: 767px) {
  .title {
    font-size: 5rem;
  }

  .form {
    width: 85%;
  }


  .label, .submitBtn {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .input {
    max-width: 100rem;
    font-size: 2rem;
  }

  .errorMsg {
    font-size: 1.2rem;
  }

  .submitBtn {
    width: 80%;
  }

}
